.stand {
    margin-bottom: 10rem;
}
.stand__heading {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 5rem;
    padding-top: 5rem;
    color: rgb(33, 22, 232);
}
.stand__heading::before {
    content: "";
    height: 0.75rem;
    width: 100px;
    display: inline-block;
    padding-bottom: 0px;
    margin-bottom: 15px;
    vertical-align: middle;
    margin-right: 54px;
    background-color: yellow;
}
.stand__wrapper {
    max-width: 75rem;
    padding-top: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}
.overlay{
    /* position: absolute; */
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: #f5f5f5;
    width: 100%;
    transition: all 0.2s ease-in-out;
    height: 14rem;

}
.stand__box {
    width: 30%;
    text-align: center;
    position: relative;
    box-shadow: 0 0 0 transparent;
    height: 31rem;
    position: relative;
    background-color: #f5f5f5
}
.stand__box:hover .overlay{
    height: 100%;
}

.stand__box img {
    display: block;
    width: 100%;
    height: auto;
}
.stand__desc {
    text-align: left;
    margin:0 20px;
}
.stand__title::after {
    background-color: #0020f6;
    content: "";
    height: 0.25rem;
    position: absolute;
    right: -0.048rem;;
    width: 4rem;

}
.stand__title {
    text-align: left;
    font-size: 17px;
    margin:0 12px;
    margin-top: 6px;
    margin-bottom: 8px;
    margin-right: 20px;
    margin-left: 20px;
    color: rgba(3, 3, 77, 0.766);
}

@media screen and (max-width: 767px) {
    .stand__heading {
      font-size: 2.5rem;
      color: rgb(6, 6, 228);
      margin: 0 0 -23px 5px;
      padding: 20px 0 0 5px;
    }
    .stand__heading span {
      margin-left: 50px;
    }
    .stand__heading:before {
      content: "";
      height: 0.6rem;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      width: 40px;
      background-color: #e3F307;
    }
    .stand__box {
      width: 84%;
      height: auto;
    }
    .stand__desc {
      line-height: 1.3;
    }
    .stand__title {
      width: 70%;
      margin-left: 25px;
    }
    .stand__title:after {
      background-color: #0020f6;
      content: "";
      height: 0.25rem;
      position: absolute;
      right: -0.048rem;
      top: 58%;
      width: 4rem;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .stand__heading {
      font-size: 3rem;
      color: rgb(6, 6, 228);
      margin: 0 0 -23px 5px;
      padding: 20px 0 0 5px;
    }
    .stand__heading:before {
      content: "";
      height: 0.6rem;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      width: 40px;
      background-color: #e3F307;
    }
    .stand__box {
      height: auto;
      width: 47%;
      text-align: center;
    }
    .stand__desc {
      line-height: 1.3;
    }
    .stand__title {
      width: 70%;
      margin-left: 25px;
    }
    .stand__title:after {
      background-color: #0020f6;
      content: "";
      height: 0.25rem;
      position: absolute;
      right: -0.048rem;
      top: 58%;
      width: 4rem;
    }
  }