@use "./abstract/colors" as *;

.food {
    max-width: 1210px;
    margin: 0 auto;

    &__title__view {
        display: flex;

        @media screen and (max-width: 768px) {
            position: relative;
        }
    }

    &__view {
        margin-top: 41px;
    margin-left: 565px;

    @media screen and (max-width: 768px) {
        margin-left: 0px;
        position: absolute;
    top: 970px;
    text-align: center;
    margin-right: 176px;
    width: 100%;
    }

    a {
        text-decoration: none;
        font-size: 17px;
        color: $primary-blue;
        font-family: brandon-grotesque, "Helvetica Neue", Helvetica, arial;


    }
    }

    &__wrapper {
        display: flex;
        gap: 30px;

        @media screen and (max-width: 768px) {
            display: block;
        }
    }

    &__title {
        font-size: 25px;
        font-family: brandon-grotesque, "Helvetica Neue", Helvetica, arial;
        font-weight: 700;

        @media screen and (max-width: 768px) {
            font-size: 20px;
        }
    }

    &__cards {
        width: 33%;
        display: flex;
        border: 2px solid #f2f2f2;
        padding: 16px;
        flex-direction: column;

        @media screen and (max-width: 768px) {
            width: 92%;
            margin-bottom: 10px;
        }
        img {
            width: 100%;
            height: auto;
            margin-top: 10px;
        }

        &__time {
            margin-bottom: -16px;
            letter-spacing: 0px;
    font-weight: 900;
    // color: silver;
    font-size: 14px;
        }

        &__head {
            display: flex;

        }

        &__content {
            margin-left: 10px;
            font-size: 17px;
            font-family: brandon-grotesque, "Helvetica Neue", Helvetica, arial;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            --truncate-lines: 2;
            -webkit-line-clamp: var(--truncate-lines);
            -webkit-box-orient: vertical;


            a {
                text-decoration: none;
                color: $primary-blue;
            }
        }

        &__desc {
            // text-overflow: ellipsis;
            // -webkit-line-clamp: 2;
            // display: -webkit-box;
            // overflow: hidden;
            // white-space: nowrap;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            --truncate-lines: 2;
            -webkit-line-clamp: var(--truncate-lines);
            -webkit-box-orient: vertical;
            font-size: 17px;
            font-family: brandon-grotesque, "Helvetica Neue", Helvetica, arial;
            color: rgb(79, 78, 78);
        }

        &__star {
            margin-top: 10px;
        }

        &__reply {
            flex-grow: 1;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            color: rgb(79, 78, 78);
        }

        &__like {
            a{
            text-decoration: none;
            color: black;
            font-weight: 900;
            color: rgb(79, 78, 78);
            }
        }
    }
}