body {
    margin: 0;
    padding: 0;
}

    .navbar {
      background-color: rgb(6, 6, 228);
      height: 93px;
      position: fixed;
      display: flex;
      z-index: 1;
      align-items: center;
      width: 100%;

      &-toggle {
        cursor: pointer;
        padding: 15px;
        float: right;
        color: #fff;
        font-size: 20px;
        position: relative;
        z-index: 1;

        & .bar {
          width: 25px;
          height: 3px;
          background-color: #fff;
          margin-bottom: 4px;
          transition: transform 0.3s ease;
        }

        &.active {
          .bar:nth-child(2) {
            opacity: 0;
          }

          .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
          }

          .bar:nth-child(3) {
            transform: translateY(-6px) rotate(-45deg);
          }
        }
      }
    }

    .nav-menu {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: blue;

      &.active {
        display: block;
        overflow: auto;
      }

      ul {
        list-style-type: none;
        font-family: "Work Sans", sans-serif;
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        margin-top: 50px;
        margin-left: 100px;
        font-weight: 700;
        letter-spacing: .125rem;

        & .yellow::before {
          content: "";
          height: 0.60rem;
          width: 90px;
          display: inline-block;
          margin-left: -160px;
          margin-bottom: -40px;
          background-color: yellow;
        }

        li {
          margin: 10px;
          margin-left: -35px;

          a {
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }

    .nav_contact_button {
      background-color: yellow;
      border: 0.0625rem solid yellow;
      color: rgb(6, 6, 228);
      border-radius: 0.3125rem;
      display: inline-block;
      font-family: "Montserrat", sans-serif;
      text-decoration: none;
      font-size: 0.75rem;
      font-weight: 700;
      letter-spacing: 0.125rem;
      height: 1.1rem;
      margin-right: 2rem;
      align-items: center;
      padding: 0.4rem 0.3rem;
      margin-left: 60rem;

      &:hover {
        color: yellow;
        background-color: rgb(6, 6, 228);
      }
    }

    img.navbar {
      width: 13.75rem;
      height: auto;
      margin-left: 5rem;
    }

    .nav-menu img {
      padding-top: 20px;
      width: 205px;
    }

    @media only screen and (min-width: 48rem) {
      .nav-menu ul {
        font-size: 3.5rem;
      }
    }

    .nav-accordion {
      transition: 0.4s;
    }

    .nav-panel {
      display: none;
      color: white;
      font-size: 10px;
    }

    .nav-sub-menu {
      position: relative;
    }

