@use "./abstract/colors" as *;

.insights {
    color: $white;
    background-color: $primary-blue;
    padding-bottom: 90px;

    &__heading {
        font-size: 45px;
        margin: 0 0 -20px 5px;
        padding: 20px 0 0 5px;
        margin-bottom: 20px;

        &::before {
            content: "";
            display: inline-block;
            margin-bottom: 15px;
            vertical-align: middle;
            background-color: $yellow;
            height: 0.4rem;
            margin-right: 10px;
            margin-left: -10px;
            width: 39px;
        }
    }

    &__desc {
        margin-left: 26px;
        margin-right: 25px;
    }

    &__wrapper {
        text-align: center;
        margin-top: 40px;
        position: relative;
    }

    &__cards {
        color: $primary-blue;
        text-align: center;
        position: relative;
        height: auto;
        margin-left: 30px;
        margin-bottom: 20px;
        width: 85%;
        background-color: $white;


        img {
            height: 100%;
            width: 100%;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        &__cards{
           width: 93%;

       }
   }

    &__text {
        color: $black;
        padding-bottom: 15px;
    }

    &__info {
        text-align: left;
        margin-left: 20px;

        &__head {
            font-weight: 900;
            margin-bottom: 20px;
            margin-top: 10px;
            position:relative;
        }
    }

    &_info_head::after {
        background-color: $yellow;
        content: "";
        height: 0.25rem;
        position: absolute;
        right: -0.048rem;
        top: 80%;
        width: 4rem;
    }
}
@media screen and (min-width: 1023px) {
    .insights {
        color: $white;

        &__heading {
            margin: 0 0 -20px 5px;
            margin-bottom: 30px;
            padding: 20px 0 0 5px;
            padding-left: 95px;
            font-size: 70px;

            &::before {
                content: "";
                display: inline-block;
                margin: 0 10px 15px -90px;
                vertical-align: middle;
                background-color: $yellow;
                height: 0.4rem;
                width: 110px;
            }
        }

        &_info_head {
            font-size: 17px;
            padding-top: 17px;
            padding-right: 66px;
            padding-bottom: 10px;
        }

        &__desc {
            padding-left: 123px;
            padding-right: 25px;
            font-size: 24px;
            margin-bottom: 90px;
        }

        &__wrapper {
            display: flex;
            margin-left: 125px;
            margin-right: 125px;
            gap: 20px;
            border-width: 4px 4px 4px 4px;
            border-color: $white;
        }

        &__cards {
            background-color: $white;
            color: $primary-blue;
            overflow: hidden;

            img {
                transition: transform 0.3s ease;
                height: 310px;
                width: 400px;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        &__copyright p {
            margin-left: 0px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .insights__info__head::after{
    top: 555px;
    }
}





