@use "./abstract/colors" as *;

.accord {
    width: 100%;
    background-color: $primary-blue;

    &__main {
        margin-left: auto;
        margin-right: auto;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        justify-content: center;
        gap: 8rem;

        @media screen and (min-width: 48rem) {
            display: flex;
        }
    }

    &__item {
        border-top: 0.0625rem solid $white;
        width: 24rem;

        @media screen and (min-width: 48rem) {
            width: 31rem;
        }

        &:last-child {
            border-bottom: 0.0625rem solid $white;
        }
    }

    &__desc {
        padding: 10px;
        display: none;
        max-width: 30rem;
        color: $white;

        p {
            font-size: 1rem;
            line-height: 2;
        }

        li {
            font-size: 1rem;
            line-height: 2;
        }
    }
    &__title {
        background-color: $primary-blue;
        padding: 16px 40px 16px 0;
        cursor: pointer;
        color: $white;
        font-size: 20px;
        font-weight: 800;
        position: relative;

        &::before {
            background: $white;
            content: "";
            height: 0.25rem;
            position: absolute;
            right: 0;
            top: 50%;
            transition: all 0.25s ease-in-out;
            width: 1rem;
        }

        &::after {
            background: $white;
            content: "";
            height: 0.25rem;
            position: absolute;
            right: 0;
            top: 50%;
            transition: all 0.25s ease-in-out;
            transform: rotate(90deg);
            width: 1rem;
        }
    }
}