@use "./abstract/colors" as *;

*{
    margin: 0;
    padding: 0;
}
.services {
    background-color: rgb(6, 6, 228);
    padding-bottom: 100px;

    &__image__wrapper {
        background-image: url("https://www.specbee.com/themes/custom/specbee/assets/media/icons/polygon.svg");
        background-repeat: no-repeat;
        width: 15rem;
        height: 15rem;
        background-position-x: 50%;
        background-position-y: center;
        background-size: contain;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        position: relative;

        img {
            width: 6rem;
            transition: all 0.25s ease-in-out;

        }
        &:hover img {
            transform: scale(.8);

        }
        &:before {
            background: url("https://www.specbee.com/themes/custom/specbee/assets/media/icons/polygon-line.svg") no-repeat 50%/contain;
            content: "";
            height: 17.5rem;
            left: -1.1875rem;
            position: absolute;
            top: -1.125rem;
            width: 17.5rem;
            transform: scale(0.5);
            z-index: -10;
            transition: 0.25s;
        }
        &:hover:before {
            transform: scale(1);
            z-index: 1;
        }
    }
    &__heading {
        font-size: 5rem;
        margin-top: 0;
        padding-top: 5rem;
        color: white;
        display: inline-block;
        vertical-align: middle;

        &::before {
            content: "";
            height: 0.75rem;
            display: inline-block;
            width: 150px;
            margin-right: 50px;
            margin-bottom: 15px;
            vertical-align: middle;
            background-color: #e3F307;
        }
    }

    &__wrapper {
        max-width: 75rem;
        padding-top: 50px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2.5rem;
    }
    &__card {
        width: 30%;
        text-align: center;
        color: white;
        position: relative;
    }
    &__title {
        font-size: 1.25rem;
        font-weight: 800;
        margin-top: 28px;

        a {
            color: white;
            text-decoration: none;
        }
    }
    &__text {
        font-size: 0.87rem;
        margin-top: 5px;
    }
    @media screen and (max-width:767px){
        &__wrapper{
            padding-top: 50px;
            text-align: center;
            display: grid;
            justify-content: center;
            gap: 2.5rem;
        }
        &__heading {
            font-size: 35px;
            margin: 0 0 -23px 5px;
            padding: 20px 0 0 5px;

            &::before {
                display: none;
            }
        }
        &__title{
            margin-top: 20px;
            font-size: 1.75rem;
        }
        &__card{
            width: 100%;
            text-align: center;
        }
        &__text {
            font-size: 0.999rem;
            padding: 10px 70px;
            text-align: center;
            word-spacing: 2px;
            line-height: 1.5;
        }
    }
    @media screen and (min-width:768px) and (max-width:1023px) {
        &__wrapper {
            margin: 0;
            text-align: center;
            padding-top: 50px;
            justify-content: center;
            gap: 2.5rem;
        }
        &__heading {
            font-size: 55px;
            margin: 0 0 -20px 5px;
            padding: 20px 0 0 5px;

            &::before {
                height: 0.40rem;
                margin-right: 5px;
                width: 45px;
            }
        }
        &__card {
            width: 47%;
            text-align: center;
        }
        &__title {
            margin-top: 20px;
            font-size: 1.5rem
        }
        &__text {
            font-size: 0.999rem;
            padding: 10px 70px;
            word-spacing: 2px;
            line-height: 1.5;
            text-align: center;
        }
    }
    }


