.case-study {
    margin-top: 220px;
}

.case-study__container {
    display: flex;
    position: relative;
}

.case-study__img {
    margin-left: 7%;
}

img.case-study__img-one {
    width: 786.66px;
}

.case-study__main {
    margin: 100px 0;
    padding: 50px;
    background-color: white;
    border-shadow: 2px black;
    position: relative;
    left: -7%;
    box-shadow: 0px 16px 59px 0 rgba(0, 0, 0, 0.13);
}

h2.case-study__heading {
    font-size: 5rem;
    margin-top: -10px;
    margin-bottom: -25px;
    font-weight: 700;
    font-family: 'Geologica', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Playfair', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    text-spacing: 0px;
}

p.case-study__para {
    width: 93%;
    margin-bottom: 20px;
    font-size: 34px;
    font-weight: 400;
    font-family: 'Geologica', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Playfair', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    text-spacing: 0px;
}

a.case-study__explore {
    display: block;
    text-align: right;
    font-family: 'Geologica', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Playfair', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    text-spacing: 0px;
    text-decoration: none;
    color: grey;
}

.case-study__button {
    color: white;
    text-decoration: none;
    background-color: #f05a10;
    border-radius: 1px;
    padding: 8px 28px;
    margin-top: -3%;
    font-size: 16px;
    font-weight: 700;
    width: fit-content;
    margin-left: 74%;
    position: relative;
}

a.case-study__button-anchor {
    color: white;
    font-weight: 300;
    text-decoration: none;
    font-family: 'Geologica', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Playfair', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    text-spacing: 0px;
    margin-right: 10px;
}

.fa-solid,
.fas {
    margin-left: 10px;
    font-weight: 900;
}

.fa-solid,
.fas:hover {
    margin-left: 5px;
    font-weight: 900;
}

@media (max-width: 430px) {
    .case-study {
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
        margin-top: 0;
    }
    .case-study__img {
        display: block;
        margin-left: 3%;
        margin-top: 82%;
    }

    img.case-study__img-one {
        /* width: 421.2px; */
        /* height: 379.95px; */
    }

    .case-study__main {
        margin: 100px 0;
        padding: 50px;
        background-color: white;
        border-shadow: 2px black;
        position: absolute;
        left: -7%;
        box-shadow: 0px 16px 59px 0 rgba(0, 0, 0, 0.13);
    }

    h2.case-study__heading {
        font-size: 32px;
        margin-top: -10px;
        margin-bottom: -25px;
        font-weight: 700;
        font-family: 'Geologica', sans-serif;
        font-family: 'Lato', sans-serif;
        font-family: 'Playfair', serif;
        font-family: 'Playfair Display', serif;
        font-family: 'Poppins', sans-serif;
        text-spacing: 0px;
    }

    p.case-study__para {
        width: 93%;
        margin-bottom: 20px;
        font-size: 34px;
        font-weight: 400;
        font-family: 'Geologica', sans-serif;
        font-family: 'Lato', sans-serif;
        font-family: 'Playfair', serif;
        font-family: 'Playfair Display', serif;
        font-family: 'Poppins', sans-serif;
        text-spacing: 0px;
    }

    a.case-study__anchor {
        display: block;
        text-align: right;
        font-family: 'Geologica', sans-serif;
        font-family: 'Lato', sans-serif;
        font-family: 'Playfair', serif;
        font-family: 'Playfair Display', serif;
        font-family: 'Poppins', sans-serif;
        text-spacing: 0px;
        text-decoration: none;
        color: grey;
    }
}